<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Messages</servlet-name>
        <servlet-class>com.tape.servlet.Messages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Messages</servlet-name>
        <url-pattern>/Messages</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IdentityServlet</servlet-name>
        <servlet-class>com.tape.servlet.IdentityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IdentityServlet</servlet-name>
        <url-pattern>/IdentityServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.tape.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>crectinfo</servlet-name>
        <servlet-class>com.tape.servlet.crectinfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crectinfo</servlet-name>
        <url-pattern>/crectinfo</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>managers</servlet-name>
        <servlet-class>com.tape.servlet.managers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>managers</servlet-name>
        <url-pattern>/managers</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.tape.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/chatroom</res-ref-name>
        <res-type>javax.sql.DateSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    </web-app>
